.form {
  text-align: left;
  width: 100%;
  max-width: 40rem;
}

.formFieldsList {
  list-style: none;
  margin: 0 0 2rem 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  text-align: left;
}

.formField {
  padding: 0;
  margin: 0;
}

.inputGroup {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.label {
  text-align: left;
}

.fieldError {
  color: red;
}

.radioList {
  display: flex;
  align-items: center;
  gap: 2rem;
  margin: 0;
  padding: 0;
}

.radio {
  text-align: left;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
